{% extends "layout.html" %}
{% block content %}
<img src="/static/images/music.jpg">
<p></p>
<p></p>
<p> Hello there! Welcome to Scriabin, a music genre classifier designed using a Convolutional Neural Network (CNN). This web application intends to classify audio music based on ten types of genres (Blues, Classical, Country, Disco, Hip Hop, Jazz, Metal, Reggae, Rock).
    The model performing inferences currently <a href="https://arxiv.org/abs/1802.09697">exceeds human accuracy</a> by 12%.</p>

<p>Please consult the following link to discover how the model was trained: (<a href="URL">https://github.com/maldonadojsm/Scriabin</a>).
</p>
<p>Dataset Used: (<a href="URL">http://marsyas.info/downloads/datasets.html</a></p>
<p>I hope you have fun!</p>

{%  endblock content %}
